#content{
	position: relative;
	width: 100px;
	height: 100px;
	top: 200px;
	left: 200px;
	overflow: hidden;
	border: 1px solid red;
}

@media screen and (max-width: 500px){
	#content{
		top: 100px;
		left: 100px;
	}
}
#content ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	transition: all 0.5s ease;
	display: flex;
	flex-flow:row nowrap;
	justify-content: space-around;
	-webkit-animation: slide 8s linear .5s infinite normal;
	-o-animation: slide 8s linear .5s infinite normal;
	animation: slide 8s linear .5s infinite normal;

}
ul:hover{
	transform: rotate(30deg);
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}
#content ul li{
	list-style:none;
	border: 1px solid red;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

@keyframes slide {
	0%{left: 0}
	22%,33%{left: -100%}
	55%,66%{left: -200%}
	88%,100%{left: -300%}
}
@-webkit-keyframes silde {
	0%{left: 0}
	33%{left: -100%}
	66%{left: -200%}
	100%{left: -300%}
}
